---
let title = 'A New Crawl';
---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<link rel="stylesheet" href={Astro.resolve('../styles/starwarsintro.css')}>
	<link rel="stylesheet" href={Astro.resolve('../styles/section.css')}>
</head>
<body>
	<main>
		<!-- Place in Body where you'd like intro to appear -->
		<div class="star-wars-intro">

			<!-- Blue Intro Text -->
			<p class="intro-text">
				2022 - The year of coding 
			</p>

			<!-- All Scrolling Content Goes in here -->
			<div class="main-content">

				<div class="title-content">
					<p class="content-header">The Dev Awakens</p>

					<br>

					<p class="content-body">
					It's time to code...something, anything. They say practice makes perfect so here we go. This was created using
					</p>
					<p class="content-body">
					<a href="https://astro.build/" class="space-button">Astro</a> 
					</p>
					<p class="content-body">
					a Static Site Generator or "SSG" for all you cool people in the know. Also, this is using on a cool css stylesheet called <a href="https://polarnotion.github.io/starwarsintro/">starwarsintro.css</a> that creates the crawl effect and the classic tilt angle of the lettering (more on that later).
					</p>
					<p class="content-body">
					Since this is going to be a static stite, I will be deploying to github pages. Static sites are generally small, don't change much, and are low in resources. There is no javascript here and those type of projects will come later on as I try to plan a roadmap of the developer journey I'm hoping to take this year.
					</p>
					<p class="content-body">
					Thanks for staying with me this far and I hope to stick with the resolution to make more projects public facing this year. 
					</p>
				</div>
			</div>
		</div>
	</main>

	<section>
		<h1>Welcome to the first project of 2022. Woot <span>🎉🎉</span></h1>

		<p>The cool tilt angle of the lettering is caused by a <code>transform</code> propery that can rotate, sku, stretch, rotate, and in the example above the transform propery is used with a css function called perspective that changes how close or far the element is to the user and the z plane. Also there is the rotateX transform that tilts it away from the user</p>

		<div class="basic-flex">
			<div class="box">
				<p>Example 1</p>
				<p>No perspective</p>
			</div>

			<div class="box perspective">
				<p>Example 2</p>
				<p><code>transform: perspective(350px) rotateX(25deg);</code></p>
			</div>
		</div>
	</section>
</body>
</html>
